body {
  margin: 0;
  padding: 0;
  background: url(./background.png) no-repeat center center fixed;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: cover;
  position: relative;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 264;
  height: 345;
  background-image: url('Tab.png');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 9999; 
}

.upper-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 96;
  height: 288;
  background-image: url('Bar.png');
  background-repeat: no-repeat;
  z-index: 9999;
}

.centered-image {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.centered-image img {
  max-width: 50%;
  max-height: 50%;
}

#photoGallery {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent images from overflowing the gallery container */
}

#photoGallery img {
  position: absolute;
  user-select: none; /* Disable selection */
  max-width: 200px; /* Set maximum width */
  max-height: 200px; /* Set maximum height */
}

h2 {
    font-family: FixedsysExcelsior301Regular;
    src: url("font.ttf") format("truetype");
    font-weight: 400;
    font-size: 22pt;
    font-style: normal;
    margin-top: 15;
    margin-bottom: 8;

}

p {
  font-family: FixedsysExcelsior301Regular;
  src: url("font.ttf") format("truetype");
  font-size: 12pt;
  font-style: normal;
}

.cc-1 {
  box-sizing: border-box;
  user-select: none;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px inset;
  overflow: hidden;
}

.window-1 {
  margin: 0px;
  box-sizing: border-box;
  user-select: none;
  width: auto;
  height: auto;
  cursor: default;
  position: absolute;
  z-index: 1;
}

.cc-3 {
  margin: 0px;
  position: relative;
  user-select: auto;
  width: 360px;
  height: 420px;
  box-sizing: border-box;
}


.cc-4 {
  margin: 0px;
  box-sizing: border-box;
  user-select: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-color: rgb(236, 236, 236) rgb(211, 211, 211);
  border-style: ridge;
  border-width: 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 10px 0px;
  background-color: #fff;
}

.cc-5 {
  margin: 0px;
  box-sizing: border-box;
  user-select: none;
  display: flex;
  width: 100%;
  height: 28px;
  cursor: pointer;
  background: rgb(187, 189, 192);
  border-color: rgb(236, 236, 236) rgb(211, 211, 211);
  border-bottom-width: 4px;
  border-bottom-style: ridge;
}

.cc-6 {
  margin: 0px;
  box-sizing: border-box;
  user-select: none;
  padding: 2px 14px 2px 5px;
  height: 24px;
  text-transform: uppercase;
  font-family: FixedsysExcelsior301Regular;
  font-size: 15px;
  cursor: move;
  flex-grow: 1;
  border-width: 1px;
  border-image: initial;
  border-style: outset;
  border-color: rgb(236, 236, 236) silver;
  background: rgb(187, 189, 192);
  color: rgba(75, 75, 75, 0.8);
  text-shadow: rgb(236, 236, 236) 0.5px 0.5px 1px, rgb(0, 0, 0) 0px 0px 0px,
    rgb(236, 236, 236) 0.5px 0.5px 1px;
}

.cc-7 {
  margin: 0px;
  box-sizing: border-box;
  user-select: none;
  width: 25px;
  height: 25px;
  background: red;
  border-color: rgb(187, 189, 192) rgb(178, 6, 16);
  border-style: outset;
  border-width: 3px;
  font-family: FixedsysExcelsior301Regular;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1em;
  z-index: 100;
}

.cc-7:active {
  border-color: rgb(187, 189, 192) rgb(178, 6, 16);
  border-style: inset;
  border-width: 3px;
}

.window-2 {
  margin: 0px;
  box-sizing: border-box;
  user-select: none;
  width: auto;
  height: auto;
  cursor: default;
  position: absolute;
  z-index: 1;
}

.cc-1608 {
  margin: 0px;
  position: relative;
  user-select: auto;
  width: 680px;
  height: 420px;
  box-sizing: border-box;
}

.cc-1609 {
  margin: 0px;
  box-sizing: border-box;
  user-select: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-color: rgb(236, 236, 236) rgb(211, 211, 211);
  border-style: ridge;
  border-width: 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 10px 0px;
}

.cc-1610 {
  margin: 0px;
  box-sizing: border-box;
  user-select: none;
  display: flex;
  width: 100%;
  height: 28px;
  cursor: pointer;
  background: rgb(187, 189, 192);
  border-color: rgb(236, 236, 236) rgb(211, 211, 211);
  border-bottom-width: 4px;
  /* border-bottom-style: ridge; */
}

.cc-1611 {
  margin: 0px;
  box-sizing: border-box;
  user-select: none;
  padding: 2px 14px 2px 5px;
  height: 24px;
  text-transform: uppercase;
  font-family: FixedsysExcelsior301Regular;
  font-size: 15px;
  cursor: pointer;
  flex-grow: 1;
  border-width: 1px;
  border-image: initial;
  /* border-style: outset; */
  border-color: rgb(236, 236, 236) silver;
  background: rgb(187, 189, 192);
  color: rgba(75, 75, 75, 0.8);
  text-shadow: rgb(236, 236, 236) 0.5px 0.5px 1px, rgb(0, 0, 0) 0px 0px 0px,
    rgb(236, 236, 236) 0.5px 0.5px 1px;
}

.cc-1612 {
  margin: 0px;
  box-sizing: border-box;
  user-select: none;
  width: 100%;
  height: 27px;
  display: flex;
  flex-direction: row;
  margin-left: -8px;
  /* margin-top: -5px; */
  border-width: 3px;
  border-image: initial;
  /* border-style: outset; */
  border-color: rgb(236, 236, 236) silver;
  background: rgb(187, 189, 192);
}

.cc-1613 {
  box-sizing: border-box;
  user-select: none;
  background: rgb(187, 189, 192);
  color: rgba(75, 75, 75, 0.8);
  text-shadow: rgb(236, 236, 236) 0.5px 0.5px 1px, rgb(0, 0, 0) 0px 0px 0px,
    rgb(236, 236, 236) 0.5px 0.5px 1px;
  border: 0px;
  font-family: FixedsysExcelsior301Regular;
  font-size: 15px;
  padding: 2px 10px;
  margin: 0px;
}

@media only screen and (max-device-width: 750px) {
  .cc-1613 {
    display: none;
  }
}
.cc-1614 {
  margin: 0px;
  box-sizing: border-box;
  user-select: none;
  display: inline;
}

.cc-1615 {
  box-sizing: border-box;
  user-select: auto !important;
  border: 0px;
  font-family: FixedsysExcelsior301Regular;
  font-size: 15px;
  padding: 2px 10px;
  margin: 0px;
  background: rgb(239, 239, 239);
}

@media only screen and (max-device-width: 750px) {
  .cc-1615 {
    width: 100px;
  }
}
.cc-1616 {
  box-sizing: border-box;
  user-select: auto !important;
  border: 0px;
  background: rgb(187, 189, 192);
  font-family: FixedsysExcelsior301Regular;
  font-size: 15px;
  color: rgba(75, 75, 75, 0.8);
  text-shadow: rgb(236, 236, 236) 0.5px 0.5px 1px, rgb(0, 0, 0) 0px 0px 0px,
    rgb(236, 236, 236) 0.5px 0.5px 1px;
  padding: 2px 10px;
  margin: 0px;
}

@media only screen and (max-device-width: 750px) {
  .cc-1616 {
    display: none;
  }
}

.cc-1618 {
  margin: 0px;
  box-sizing: border-box;
  user-select: none;
  width: 25px;
  height: 25px;
  background: red;
  border-color: rgb(187, 189, 192) rgb(178, 6, 16);
  border-style: outset;
  border-width: 3px;
  font-family: FixedsysExcelsior301Regular;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1em;
  z-index: 100;
}

.cc-1618:active {
  border-color: rgb(187, 189, 192) rgb(178, 6, 16);
  border-style: inset;
  border-width: 3px;
}

.cc-1619 {
  margin: 0px;
  box-sizing: border-box;
  user-select: none;
  height: calc(100% - 25px);
  width: 100%;
  overflow: hidden auto;
  overflow-y: hidden;
}

.cc-1620 {
  margin: 0px;
  user-select: none;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: rgb(255, 255, 255);
}

.cc-1621 {
  margin: 0px;
  box-sizing: border-box;
  user-select: none;
  height: 100%;
}

.cc-1626 {
  color: rgb(0, 0, 255);
}

.cc-1622 {
  margin: 0px;
  box-sizing: border-box;
  user-select: none;
  height: calc(100% - 32px);
  overflow: hidden scroll;
  font-family: FixedsysExcelsior301Regular;
  margin-bottom: 50px;
  padding: 5px 7px 0px;
}
.cc-4632 {
  margin: 0px;
  box-sizing: border-box;
  user-select: none;
  position: absolute;
  bottom: 3px;
  background: rgb(255, 255, 255);
  width: 100%;
}

.cc-4633 {
  margin: 0px;
  box-sizing: border-box;
  user-select: none;
}

.cc-4634 {
  margin: 0px;
  box-sizing: border-box;
  user-select: auto !important;
  width: calc(100% - 60px);
  height: 30px;
  padding-left: 7px;
  font-family: FixedsysExcelsior301Regular;
}

.cc-4635 {
  margin: 0px;
  box-sizing: border-box;
  user-select: auto !important;
  width: 60px;
  height: 30px;
  font-size: 14px;
  font-family: FixedsysExcelsior301Regular;
  border-width: 3px;
  border-image: initial;
  border-style: outset;
  border-color: rgb(236, 236, 236) silver;
  background: rgb(187, 189, 192);
  color: rgb(255, 255, 255);
}

.cc-4635:active {
  border-width: 3px;
  border-image: initial;
  border-style: inset;
  border-color: rgb(236, 236, 236) silver;
  background: rgb(187, 189, 192);
}
